.button-div {
    display: flex;
    justify-content: center;
}

.fa-w-14.content-chevron {
    height: 2em;
    width: 2em;
    bottom: 0px;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: opacity 2s;
}

.fa-w-14.content-chevron:hover {
    cursor: pointer;
}