html .navbar {
    height: 5rem;
    background-color: #EAE7DC;
    position: fixed;
    width: 100%;
    z-index: 3;
    margin-bottom: 5rem;
    transition: 1s background-color;
}

.navbar-nav li:not(:first-child) {
    border-top: 1px solid rgba(142,141,138, .1);
    border-bottom: 1px solid rgba(142,141,138, .1);
    border-right: 1px solid rgba(142,141,138, .1);
}

.navbar-nav li:first-child {
    border: 1px solid rgba(142,141,138, .1);
}

.navbar li {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 5rem;
    text-align: center;
}

.navbar a {
    color: #E85A4F;
    font-weight: 800;
}

.nav-item a {
    font-weight: bold;
    font-size: x-small;
    color: black;
    text-transform: uppercase;
}

html .navbar-toggler {
    border: 1px solid #8e8d8a;
}

.navbar-dark .navbar-toggler-icon {
    /* background-image: url("data:image/svg+xml;.."); */
}