#wrapper {
    flex: 1 0 auto;
    z-index:1;
    margin-bottom: 60px;
    padding-bottom: 50px;
    position: relative;
    background-color: #EAE7DC; 
    margin-top: 5rem;
}

#image-placeholder {
    height: 100vh;
}

.container {
    
}